@media only screen and (max-width: 900px) {
  body {
    background-size: cover;
  }

  #overlay > p {
    font-size: 20px;
    top: -10%;
  }

  #header,
  #media {
    font-size: 8px;
  }

  #youtube-player {
    width: 170px;
    height: 125px;
    margin-top: 70px;
  }

  #lyrics {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }

  .neon,
  #text .sold-out {
    font-size: 25px;
  }

  #mobile-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
  }
}
